<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253020332110-e92n5t9hvur0bh1nn8ess652102ba0r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253020332110-e92n5t9hvur0bh1nn8ess652102ba0r2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>253020332110-bd0fao7ob466qk7om29lar2hsljrhnl5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMg7jZofYYVQqrvD8cj_23_JdADgWZk_k</string>
	<key>GCM_SENDER_ID</key>
	<string>253020332110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fittnesFrontend</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-89b40</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-89b40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253020332110:ios:2b3a83a602dcf0740ae31f</string>
</dict>
</plist>