/* WorkoutCard.css */
.workout-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust the space distribution inside the card */
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    width: 100px; /* Adjust width as needed to achieve square or near-square */

  }
  
  .workout-day {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  .workout-details {
    flex-grow: 1; /* Allows the details to fill the space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically for aesthetics */
    align-items: center; /* Center content horizontally */
    height: 100%;
  }
  
  .workout-cover {
    width: 100%; /* Adjust based on preference */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .workout-name {
    margin: 2px 0;
    font-size: 16px;
    text-align: center;
  }
  
  .workout-difficulty {
    margin: 2px 0;
    font-size: 13px;
    color: #555;
  }
  
  .rest-day {
    font-style: italic;
    color: #888;
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: center; 
  }