.actions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Adjust spacing between cards */
  }

.action-card {
    position: relative;
    width: 300px;
    height: 400px; /* Adjust height as needed */
    padding: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .action-card .card-content,
  .action-card .card-hover-content {
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  
  .action-card .card-hover-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }
  
  .action-card:hover .card-hover-content {
    opacity: 1;
  }
  
  .action-card:hover .card-content {
    opacity: 0;
  }
  
  .action-card h3 {
    margin-top: 0;
    color: #fff;
  }
  
  .action-card p {
    color: #fff;
  }